footer{
    background-color: #58855E;
}

#footer_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8% 24px 8%;
}

#copyright{
    color: #ffff;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    #footer_items{
        flex-direction: column;
        gap: 20px;
    }
}